/* --- LOGIN VIEW BACKGROUND --- */
.login-root {
    -fx-background-color: #99a3b4;
}

/* Theme switch (light view) */
.theme-switch {
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 999;
    -fx-padding: 5 26 5 5;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-min-width: 60;
    -fx-min-height: 32;
    -fx-max-width: 60;
    -fx-max-height: 32;
}

.theme-switch:selected {
    -fx-background-color: #1a1a1a;
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 5 5 5 26;
}

.theme-switch .switch-knob {
    -fx-background-color: #f6db0a;
    -fx-background-radius: 999;
    -fx-min-width: 22;
    -fx-min-height: 22;
    -fx-max-width: 22;
    -fx-max-height: 22;
}

.theme-switch:selected .switch-knob {
    -fx-background-color: #2563eb;
}

/* Primary Button */
.button.primary-button {
    -fx-background-color: #1F2933;
    -fx-text-fill: #D4AF37;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-padding: 12 20 12 20;
}

.button.primary-button:hover {
    -fx-background-color: #28537e;
}

.button.primary-button:pressed {
    -fx-background-color: #293948;
}

/* Transparent Field */
.transparent-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: #D4AF37;
    -fx-prompt-text-fill: #D4AF37;
}

/* Input Box */
.input-box {
    -fx-background-color: #1F2933;
    -fx-border-color: #04152f;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10 12 10 12;
}

.input-box .text-field, .input-box .password-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* Social Button */
.button.social-button {
    -fx-background-color: #1F2933;
    -fx-border-color: #12263b;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #D4AF37;
    -fx-cursor: hand;
    -fx-padding: 12 20 12 20;
}

.button.social-button:hover {
    -fx-background-color: #28537e;
    -fx-border-color: #1F2933;
}
