.root {
    -fx-font-family: 'Segoe UI', sans-serif;
}

/* The Bordered Input Container */
.input-box {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5 10 5 10;
}

/* Remove default borders from text fields inside our custom box */
.transparent-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #9a9898;
    -fx-text-fill: #9a9898;
    -fx-font-size: 14px;
}
.transparent-field:focused {
    -fx-background-color: transparent;
}

/* The Blue Sign In Button */
.primary-button {
    -fx-background-color: #0066FF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.primary-button:hover {
    -fx-background-color: #0052cc;
}

/* Google/Facebook Buttons */
.social-button {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-alignment: CENTER;
}
.social-button:hover {
    -fx-background-color: #f5f5f5;
}

/* Checkbox */
.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #8c8c8c;
    -fx-border-radius: 3;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: #333;
}